<!DOCTYPE html>
<html lang="en" xmlns:white-space="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <div class="p-3 mb-2 text-#D2691E" style="background-color:Orange;">
    <title>Анекдоты</title>
        <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="/" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="/"> Описание проекта</a></li>
    <li class="page-item active"><a class="page-link" href="/process">Анекдоты</a></li>
    <li class="page-item"><a class="page-link" href="/stat">Статистика</a></li>
    <li class="page-item"><a class="page-link" href="/stat" aria-disabled="true">Next</a></li>
  </ul>
</nav>
</head>
<body>



<div class="text-center">
    <a class="btn" href="anek" download="Anekdotes.txt"> Здесь можно скачать ваши анекдоты </a>
    <a class="btn" href="/stat" role="button"> А здесь посмотреть на статистику всех запросов </a>
    <div class="p-4 mb-2 text-#123456" style="background-color:Orange;">
        <p class="h1">Ваши анекдоты</p>
    {% for elem in anek %}
        <div class="card">
        <img src="static/laughface.png" width="100%" alt="Hahah" style="width:40%">
        <div class="container">
        <h4><b>Ваш анекдот</b></h4>
        <p>{{elem}}</p>
  </div>
</div>
    {% endfor %}
    </div>
</div>
</body>
</html>